In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=list('AB'))
df

   A  B
0  1  2
1  3  4

In [4]:
df2 = pd.DataFrame([[5, 6], [7, 8]], columns=list('AB'))

In [5]:
df.append(df2, ignore_index=True)

   A  B
0  1  2
1  3  4
2  5  6
3  7  8